:root {
  --header-height: 70px;
  --main-color: rgb(19, 192, 28);
  --white-color: #fff;
  --secondary-color: #666;
  --overlay-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 1.8;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.btn {
  display: inline-block;
  min-width: 100px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px 30px;
  padding: 10px 15px;
  color: var(--white-color) !important;
}

.btn-primary {
  background-color: var(--main-color);
  color: var(--white-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  opacity: 0.5;
}

.bg-color-1 {
  background-color: #e4b2d6;
}
.bg-color-2 {
  background-color: #dcc698;
}
.bg-color-3 {
  background-color: #a2d1e1;
}
.bg-color-4 {
  background-color: #a2d1e1;
}

.section {
  padding: 60px 0;
}
.section-content {
  padding-top: 50px;
}

.section-heading {
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
}

.section-heading .subtitle {
  margin: 10px 0;
  color: var(--main-color);
}

.section-heading .title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-heading .intro {
  margin: 10px 0;
  color: var(--secondary-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
}
/* ===============HEADER================ */
.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px rgba(143, 141, 141, 0.5);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: var(--header-height);
  max-height: 200px;
}

.navbar-logo img {
  height: 100%;
}

.navbar-nav {
  list-style: none;
  display: none;
  width: 100%;
}

.navbar-nav-item {
  margin: 0 10px;
  position: relative;
  font-size: 2rem;
  min-width: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.navbar-nav-item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 3px solid var(--main-color);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s;
}

.navbar-nav-item.active,
.navbar-nav-item:hover {
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav-item.active a::after,
.navbar-nav-item:hover a::after {
  opacity: 1;
  width: 20%;
  min-width: 100px;
}

.navbar-nav-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.navbar-auth {
  display: none;
  width: 100%;
  text-align: center;

}

.navbar-auth-btn {
  width: 100%;
  margin: 6px auto;
}

.navbar-toggle-icon {
  font-size: 30px;
  cursor: pointer;
}

.navbar-auth-btn:hover {
  animation: jello 1s;
}

/* ===============SLIDER============== */

.slider {
  margin-top: var(--header-height);
}

.owl-carousel-item {
  height: 650px;
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover;
  display: flex;
  color: var(--white-color);
}

.slider-text {
  margin: auto;
  text-align: center;
  z-index: 1000;
}

.slider-title {
  margin: 10px 0;
  font-family: "Amatic SC", cursive;
  font-size: 8vw;
  font-weight: unset;
}

.slider-descrtiption {
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-weight: bold;
}

.slider-btn {
  margin: 10px 0;
  padding: 15px 25px;
}

.slider-btn:hover {
  animation: jello 1s;
}

/* ===================SERVICE================== */
.service-section {
  padding: 20px 0;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.service-item {
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
}

.service-item-img {
  width: 100px;
  height: 100px;
  margin: auto;
  line-height: 100px;
  border-radius: 50%;
  font-size: 4rem;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.service-item:hover .service-item-img {
  background-color: #82ae46;
}

.service-item-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.service-item-text {
}

.service-item-text-title {
  font-weight: bold;
  margin: 6px 0;
}

.service-item-text-detail {
  margin: 10px 0;
  color: var(--secondary-color);
}

/* ===========LIBRARY========== */
.library-section {
  padding: 5rem 0;
}

.library {
  display: flex;
  align-items: flex-end;
}

.library-item {
  width: 33.33%;
}

.library-item img {
  max-width: 100%;
  width: 100%;
  padding: 0 3px;
}

.library-item-content {
}

/* ================PRODUCTS============= */
.products-section {
  padding: 60px 0;
}

.products-heading {
  text-align: center;
}

.products-subtitle {
  color: var(--main-color);
  font-size: 2rem;
}

.products-title {
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
}

.products-para {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.products-item {
  width: 50%;
}

.products-item-content {
  margin: 15px;
  border: 1px solid rgba(202, 201, 201, 0.575);
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.products-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 100;
}

.products-info {
  position: relative;
}

.products-info-option {
  display: flex;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: var(--white-color);
}

.products-info-option-item {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color);
}

.products-item-content:hover img {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.5s;
}

.products-item-content:hover .products-item-overlay {
  opacity: 0.1;
}

.products-item-content:hover .products-info-prices {
  visibility: hidden;
}

.products-item-content:hover .products-info-option {
  visibility: visible;
}

.products-item-title {
  margin-top: 10px;
}

.products-info-prices {
  margin-bottom: 1.6rem;
}

.products-price {
  margin: 0 5px;
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 700;
}

.products-price--sale {
  color: var(--secondary-color);
  text-decoration: line-through;
}

/* ===============DEAL================ */

.deal-section {
  height: 80vh;
  background-image: url("../img/banner3.webp");
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  background-attachment: fixed;
}

.deal-container {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.deal-content {
  color: var(--main-color);
  flex-basis: 50%;
}

.deal-content-subtitle {
  font-size: 2.5rem;
}

.deal-content-title {
  color: #000;
  font-size: 4rem;
}

.deal-content-intro {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.deal-content h3 {
  font-size: 3rem;
}

.deal-content-price {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.deal-content a:visited {
  color: var(--main-color);
}

/* ====================FEEDBACK==================== */

#feedback .section-content {
  background: linear-gradient(
      to right bottom,
      rgba(241, 231, 140, 0.3),
      rgba(57, 100, 53, 0.466)
    ),
    url(../img/banner1.webp) no-repeat fixed;
  text-align: center;
}

.feedback-avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

.feedback-avatar img {
  border-radius: 50%;
}

.feedback-content {
  margin: 10px 0;
  padding: 0 10px;
  border-left: 1px solid var(--secondary-color);
  position: relative;
}

.feedback-content::before {
  content: "";
  display: block;
  width: 5px;
  height: 50px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-3px, -50%);
}

.feedback-info {
  padding: 0 10px;
}

.feedback-info .name {
  font-weight: bolder;
  margin-top: 25px;
}

/* ==============Subscribe===================== */
.subscribe-section {
  background-color: rgba(145, 143, 143, 0.301);
  padding: 50px 0;
  position: relative;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.subscribe-item {
  width: 100%;
}

.subscribe-content {
}

.subscribe-title {
  font-size: 2.5rem;
}

.subscribe-description {
  color: var(--secondary-color);
  font-size: 1.7rem;
}

.subscribe-content {
}

.subscribe-form {
}

.subscribe-input {
  padding: 15px 10px;
  outline: none;
  border: none;
  width: 100%;
  flex: 1;
}

.form-group {
  display: flex;
}

.subscribe-submit {
  margin-left: 10px;
  padding: 0 20px;
}

/* ==========Footer============ */
.footer {
  position: relative;
  padding-top: 60px;
  color: var(--secondary-color);
}

.scroll-to-top {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.scroll-to-top-arrow {
  text-align: center;
  color: var(--white-color);
  animation: fadeInUp 2s infinite;
  margin-top: 8px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 25px;
}

.footer-item {
  flex: 1;
  margin-left: 10px;
}

.footer-item--help {
  flex-basis: 100px;
}

.footer-title {
  margin-bottom: 25px;
}

.footer-title,
.footer-list-item,
.footer-about {
  padding: 5px 10px;
}

.footer-about {
}

.footer-list {
  list-style: none;
}

.footer-list-item {
}

.footer-list-item i {
  margin-right: 15px;
}

.footer-list-container {
  display: flex;
}

.footer-list-container .footer-list:not(:first-child) {
  margin-left: 30px;
}

.footer-copyright {
  text-align: center;
  padding: 15px 0;
}

/* ==================================================================== */

@media (min-width: 768px) {
  .products-item {
    width: 33.33%;
  }

  .service-item {
    width: 25%;
  }

  .deal-container {
    display: flex;
    justify-content: flex-end;
  }

  .deal-content .section-heading {
    text-align: left;
  }

  .deal-content {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .navbar {
    align-items: center;
  }

  .navbar-nav,
  .navbar-auth {
    display: block !important;
    width: auto;
  }

  .navbar-nav-item {
    display: inline-block;
  }

  .navbar-toggle {
    display: none;
  }

  .products-item {
    width: 25%;
  }

  .navbar-nav-item.active a::after,
  .navbar-nav-item:hover a::after {
    opacity: 1;
    width: 100%;
  }

  .navbar-auth {
    display: none;
    width: auto;
  }

  .navbar-auth-btn {
    width: auto;
  }
}
