:root {
  --header-height: 70px;
  --main-color: rgb(12, 223, 23);
  --white-color: #fff;
  --secondary-color: #666;
  --overlay-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  min-width: 100px;
  max-width: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px 30px;
  padding: 10px 15px;
}

.btn-primary {
  background-color: var(--main-color);
  color: var(--white-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  opacity: 0.5;
}

.bg-color-1 {
  background-color: #e4b2d6;
}
.bg-color-2 {
  background-color: #dcc698;
}
.bg-color-3 {
  background-color: #a2d1e1;
}
.bg-color-4 {
  background-color: #a2d1e1;
}
/* ===============HEADER================ */
.header {
  height: var(--header-height);
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
}

.navbar-logo img {
}

.navbar-nav {
  list-style: none;
}

.navbar-nav-item {
  display: inline-block;
  /* margin: 0 20px; */
  position: relative;
  font-size: 2rem;
  min-width: 100px;
  text-align: center;
}

.navbar-nav-item:hover {
  font-weight: bold;
}

.navbar-nav-item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 3px solid var(--main-color);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s;
}

.navbar-nav-item:hover a::after {
  opacity: 1;
  width: 100%;
}

.navbar-nav-link {
  text-decoration: none;
  position: relative;
}

.navbar-auth {
}

.navbar-auth-btn {
}

/* ===============SLIDER============== */

.slider {
  margin-top: var(--header-height);
}

.owl-carousel-item {
  height: 650px;
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover;
  display: flex;
  color: var(--white-color);
}

.slider-text {
  margin: auto;
  text-align: center;
  z-index: 1000;
}

.slider-title {
  margin: 10px 0;
  font-family: "Amatic SC", cursive;
  font-size: 8vw;
  font-weight: unset;
}

.slider-descrtiption {
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-weight: bold;
}

.slider-btn {
  margin: 10px 0;
}

/* ===================SERVICE================== */

.service {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.service-item {
  cursor: pointer;
}

.service-item-img {
  width: 100px;
  height: 100px;
  margin: auto;
  line-height: 100px;
  border-radius: 50%;
  font-size: 4rem;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.service-item:hover .service-item-img {
  background-color: #82ae46;
}

.service-item-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.service-item-text {
}

.service-item-text-title {
  font-weight: bold;
  margin: 6px 0;
}

.service-item-text-detail {
  margin: 10px 0;
  color: var(--secondary-color);
}

/* ===========LIBRARY========== */
.library-section {
  padding-bottom: 5rem;

}

.library {
  display: flex;
}

.library-item {
  width: 350px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
}

.library-item img {
  max-width: 100%;
}

/* ================PRODUCTS============= */
.products-section {
padding-top: 5rem;
}

.products-heading {
  text-align: center;
}

.products-subtitle {
  color: var(--main-color);
  font-size: 2rem;
}

.products-title {
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
}

.products-para {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.products-list {

}

.products-item {

}

.products-item-title {

}

.products-item-prices {

}

.products-price {

}

.products-price {

}
